.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.left,
.center,
.right {
    flex: 1;
    display: flex;
    align-items: center;    
}


.center {
    justify-content: center;   
}


.right {
    justify-content: flex-end;
    gap: 10px;
    padding-right: 50px;
}


.nav-link {
    font-size: 18px;
    text-decoration: none;
    color: black;
}


.logo {
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}


.btn {
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid transparent;
}


.btn-outline {
    border: 1px solid black;
    background: none;
}


.btn-filled {
    background: black;
    color: white;
}


.btn-danger {
    background: #d11a2a;
    color: white;
}